.subnav {
    display: none;
    position: absolute;
    top: 100%;
    width: 17.2rem;
    background-color: $blue;
    padding: 1rem 1.4rem;
    @include breakpoint ($tablet-bp) {
        position: static;
        background-color: transparent;
        padding: 0 1.8rem;

    }
    &__link {
        text-decoration: none;
        color: $white;
        font-size: 1.2rem;
        display: block;
        padding: .45rem 0;
        @include breakpoint ($tablet-bp) {
            &:hover {
                color: $blue;
            }
        }
    }
}