<div class="modal" id="share-modal">
    <div class="modal__content">
        <ul class="modal__icons">
            <li class="modal__icons-item"><a href="#"><img src="../assets/images/share-modal/copy.svg" alt=""></a></li>
            <li class="modal__icons-item"><a href="#"><img src="../assets/images/share-modal/facebook.svg" alt=""></a></li>
            <li class="modal__icons-item"><a href="#"><img src="../assets/images/share-modal/twitter.svg" alt=""></a></li>
            <li class="modal__icons-item"><a href="#"><img src="../assets/images/share-modal/vk.svg" alt=""></a></li>
        </ul>
    </div>
</div>