<div class="sidebar" id="sidebar">
    <div class="sidebar__header">
        <img src="assets/images/sidebar.jpg" alt="">
    </div>
    <div class="sidebar__content">
        <div class="profile">
            <img src="../assets/images/sidebar/Iam.jpg" alt="" class="profile__photo">
            <div class="profile__info">
                <div class="profile__name">Евгений Сенчуков</div>
                <div class="profile__prof">блог front-end разработчика</div>
            </div>
            <div class="social">
                <ul class="social__list">
                    <li>
                        <a href="#" class="social__link">
                            <img src="../assets/images/social/inst.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="social__link">
                            <img src="../assets/images/social/vk.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="social__link">
                            <img src="../assets/images/social/pint.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="profile__text">
                Front-end разработчик. Практик верстки сайтов.
                Созданием сайтов занимаюсь с 2012 года.
                 Работал в нескольких ИТ компаниях и
                  наработал более 10 000 часов в создании сайтов
                   различной сложности.
            </div>
        </div>
        <nav class="nav nav--mb">
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="index.html">Главная</a></li>
                <li class="nav__item">
                    <a class="nav__link has-subnav" href="#">Статьи</a>
                    <ul class="subnav">
                        <li>
                            <a href="#" class="subnav__link">Создание сайтов</a>
                        </li>
                        <li>
                            <a href="#" class="subnav__link">Интернет-маркетинг</a>
                        </li>
                        <li>
                            <a href="#" class="subnav__link">Продвижение видео</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item"><a class="nav__link" href="#">Обо мне</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Реклама</a></li>
            </ul>
        </nav>
        <div class="space-between">
            <a href="works.html" class="btn btn--red">Мои работы</a>
            <a href="contact-modal.html" class="btn btn--blue" data-modal="contact-modal">Написать мне</a>
        </div>    
        
    </div>
</div>